@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


/* Global Styles */

* {
   box-sizing: border-box;    
   margin: 0;
   padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 15px 0;
}

img {
    display: block;
}

/* NAVIGATION */

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background: #2c2c2c;
    min-height: 70px;
    padding: 0 50px;
}

#main-nav ul {
    display: flex;
    flex-direction: row;
}

#main-nav h1 a {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

#main-nav li {
    padding: 10px;
}

#main-nav li a {
    color: #ffffff80;
    font-size: 17px;
    font-weight: 400;

    padding: 10px;
}

#main-nav li a:hover {
    border-bottom: 2px solid #ffc300;
}


/* HERO */

#hero {
    padding: 50px;
    height: 100vh;
}

#hero .hero-image {
    position: relative;
    background: url('./images/home_hero.jpg') no-repeat center center/cover;
    height: 100%;
}

#hero .hero-image .hero-blurb {
    position: absolute;
    bottom: 0;
    right: 0;
    
    background: #ffc300;
    
    height: 275px;
    width: 540px;
    padding: 15px 30px;

    text-align: left;
}

#hero .hero-image .hero-blurb h1 {
    font-size: 50px;
    font-weight: 300;
}

#hero .hero-image .hero-blurb h4 {
    font-weight: 500;
}


/* ABOUT */

#about {
    padding: 50px;
}

#about .column-right h2 span {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 5px solid #ffc300;
}
