@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');




/* Global Styles */

* {
   box-sizing: border-box;    
   margin: 0;
   padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    margin: 15px 0;
}

h2 span {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 5px solid #ffc300;
}

h4 {
    font-weight: 500;
}

img {
    display: block;
}

.fas {
    color:#ffc300;
}



/* NAVIGATION */

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background: #2c2c2c;
    min-height: 70px;
    padding: 0 50px;
}

#main-nav ul {
    display: flex;
    flex-direction: row;
}

#main-nav h1 a {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}

#main-nav li {
    padding: 10px;
}

#main-nav li a {
    color: #ffffff80;
    font-size: 17px;
    font-weight: 400;

    padding: 10px;
}

#main-nav li a:hover {
    border-bottom: 2px solid #ffc300;
}



/* HERO */

#hero {
    padding: 50px;
    height: 100vh;
}

#hero .hero-image {
    position: relative;
    background: url('./images/home_hero.jpg') no-repeat center center/cover;
    height: 100%;
}

#hero .hero-image .hero-blurb {
    position: absolute;
    bottom: 0;
    right: 0;
    
    background: #ffc300;
    
    height: 275px;
    width: 540px;
    padding: 15px 30px;

    text-align: left;
}

#hero .hero-image .hero-blurb h1 {
    font-size: 50px;
    font-weight: 300;
}



/* ABOUT */

#about {
    padding: 50px;
}

#about .column-left,
#about .column-right {
    height: 100%;
    margin-bottom: -20%;
}

#about .column-left {
    margin-left: -10%;
}



/* SERVICES  */

#services {
    padding: 50px;
}

#services .icon-parent {
    padding-right: 50px;
    margin-bottom: 70px;
}

#services .icon-parent i {
    padding: 25px 25px 25px 0;
}

#services .services-images {
    height: 100%;
    width: 60%;
    margin-left: 40%;
    text-align: center;
}



/* RECENT WORK */

#recent-work {
    padding: 50px 20px 50px 50px;
}

#recent-work .row {
    min-height: 400px;
    max-height: 400px;
}

#recent-work .row:last-child {
    margin-top: 20px;
}

#recent-work .column-1,
#recent-work .column-2,
#recent-work .column-3 {
    height: 100%;
    width: 100%;
    padding-right: 20px;
}



/* FOOTER */

#main-footer {
    min-height: 70px;
    margin-top: 50px;
    padding: 20px 0;
    background: #2c2c2c;
    color: #fff;
    
    text-align: center;
}



/* MOBILE */

@media (max-width: 483px) {

    /* HERO */

    #hero .hero-image .hero-blurb {
        width: 220px;
    }

}

@media (max-width: 1024px) {


    /* GLOBAL */

    h1, h2, h3, h4, p, i {
        text-align: center;
    }


    /* FLEX */

    .flex-container .row {
        display: flex;
        flex-direction: column;
    }

    .flex-container .row .column,
    .flex-container .row .column.width-1 
    .flex-container .row .column.width-2 {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1;
    }


    /* NAVIGATION */

    #main-nav {
        display: block;
    }

    #main-nav h1 { 
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #main-nav ul {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    

    /* HERO */

    #hero .hero-image .hero-blurb {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
                
        height: 285px;
        max-width: 383px;
        padding: 7px 10px;

        text-align: center;
    }

    #hero .hero-image .hero-blurb h1 {
        line-height: 1.1;
    }


    /* ABOUT */

    #about .column-left,
    #about .column-right {
        margin-bottom: 0;
        margin-left: 0;
    }


    /* SERVICES */

    #services .icon-parent {
        padding-right: 0px;
        margin-bottom: 40px;
        text-align: center;
    }

    #services .icon-parent i {
        padding: 25px;
    }

    #services .services-images {
        width: 100%;
        margin-left: 0;
    }


    /* RECENT WORK */

    #recent-work {
        padding: 50px;
    }

    #recent-work .row {
        min-height: none;
        max-height: none;
        height: 100%;
    }

    #recent-work .row:last-child {
        margin-top: 0;
    }

    #recent-work .column-1,
    #recent-work .column-2,
    #recent-work .column-3 {
        padding-right: 0;
        padding-bottom: 20px;
    }
    
}